$site-max-width: 1200px;
html {
  background-attachment: fixed;
  background-color: black;
  background-position: center center;
  background-size: cover;
  min-height: 100%;
}
body {
  align-content: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 100%;
  margin: 0 auto;
  max-width: $site-max-width;
  min-height: 100%;
  position: relative;
}

main, nav {
  z-index: 2;
}

main {
  padding: 1em 1em 5em 1em;
   > div {
     background-color: rgba(white, .9);
     margin-bottom: 3em;
     padding: 2em;
   }
}

nav {
  background-color: rgba(black, .8);
  color: white;
  width: 33%;
  min-height: 100%;
  padding: .5em;
  .nav-list {
    margin-left: 0;
    li {
      list-style: none;
      padding: .2em .2em;
      a {
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: start;
        text-decoration: none;
        span {
          display: inline-block;
        }
        span:first-child {
          background-color: black;
          color: #F2F2F2;
          font-family: $header-font;
          height: 1.6em;
          margin-right: .25em;
          text-align: center;
          width: 20%;
        }
        span:last-child {
          width: 80%;
        }
      }
      span {
      }
      &.current {
        background-color: rgba(#F2F2F2, .9);
        border-color: black;
        color: black;
        a {
          color: black;
        }
      }
      ul {
        font-size: .8em;
        margin-left: 20%;
        li {
          padding-left: 0;
          &.current {
            background-color: rgba(#F2F2F2, .9);
            border-color: transparent;
            color: black;
            font-weight: bold;
            padding-left: 1em;
          }
        }
      }
    }
  }

  > ul > li {
    border-bottom: 1px solid gray;
  }

  .parent-site {
    display: block;
    margin-top: 1em;
    img {
      max-width: 100%;
    }
  }
}

main {
  width: 67%;
  z-index: 2;
}

footer {
  bottom: 0;
  height: $headerHeight;
  left: 0;
  padding-top: 1em;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 1;
}

#skip_nav_link {
  height:1px;
  left:-10000px;
  overflow:hidden;
  position:absolute;
  top:auto;
  width:1px;
}

#ops_search {
  margin: 1em 0;
  max-width: 100%;
  > div {
    position: relative;
  }
  input {
    background-color: white;
    border: 1px solid gray;
    color: black;
    font-size: 1em;
    padding: .5em;
    width: 100%;
    z-index: 4;
  }
  ul {
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 5px 10px 10px 10px;
    left: 0;
    margin-left: 0;
    margin-top: 1px;
    padding: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 3;
    li {
      background-color: #eee;
      border-bottom: 1px solid black;
      list-style-type: none;
      margin-left: 0;
      a {
        color: black;
        display: block;
        padding: .5em;
        text-decoration: none;
        &:hover {
          background-color: white;
        }
      }
    }
  }
}

.header-link {
  display: inline-block;
  font-size: 1.25em;
  font-weight: bold;
  margin-left: 5px;
  margin-top: .5em;
}

.homepage-banner-image {
  display: block;
  margin-bottom: 1em;
  max-width: 100%;
}
