<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body>
    {% include header.html %}
    {% include navigation.html %}
    <main id="main_content">
      {%- if site.banner_image -%}
        <img src="{{ site.url }}/assets/images/{{ site.banner_image }}" class="homepage-banner-image" aria-hidden=true />
      {%- endif -%}
      {{ page.content | markdownify }}
    </main>
    {% include footer.html %}
    {% include analytics.html %}
  </body>
</html>
