<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body>
    {% include random_background.html %}
    {% include navigation.html %}
    <main id="main_content">
              <!-- begin image-->
              <img src="../assets/images/backgrounds/1.jpg" class="homepage-banner-image" aria-hidden=true />
              <!-- end image -->
      
      <div>
        {{ page.content | markdownify }}
      </div>
    </main>
    {% include analytics.html %}
  </body>
</html>
