<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body>
    {% include random_background.html %}
    {% include navigation.html %}
    <main id="main_content">
      <div>
        {% include print.html %}
        {% assign this_collection = site.collections | where:"label", page.collection | first %}

        {% assign items = this_collection.docs | sort: "order" %}
        {% for item in items %}
          {%- if item == items.first -%}
            <h1>{{ item.title }}</h1>
            {{ item.content | markdownify }}
          {%- else -%}
            <h2>
              {{ this_collection.section_order}}.{{forloop.index | minus: 1}} 
              {{ item.title }}
            </h2>
            {{ item.content | markdownify }}
          {%- endif -%}
          <hr />
        {% endfor %}
      </div>
    </main>
    {% include analytics.html %}
  </body>
</html>
